Repository webrtc-for-the-curious/webrtc-for-the-curious, pull requests merged in 2021-12, with the labels that each got.

#232 Add Persian translation
  content.fa/_index.md
  content.fa/docs/01-what-why-and-how.md
  content.fa/docs/02-signaling.md
  content.fa/docs/03-connecting.md
  content.fa/docs/04-securing.md
  content.fa/docs/05-real-time-networking.md
  content.fa/docs/06-media-communication.md
  content.fa/docs/07-data-communication.md
  content.fa/docs/08-applied-webrtc.md
  content.fa/docs/09-debugging.md
  content.fa/docs/10-history-of-webrtc.md
  content.fa/docs/11-faq.md
  content.fa/docs/12-glossary.md
  content.fa/docs/images
  content.fa/images/01-webrtc-agent.png
  content.fa/images/03-connectivity-checks.png
  content.fa/images/03-nat-mapping.png
  content.fa/images/03-one-turn-allocation.png
  content.fa/images/03-two-networks.png
  content.fa/images/03-two-turn-allocations.png
  content.fa/images/04-handshake.png
  content.fa/images/05-frame-types.svg
  content.fa/images/05-jitterbuffer.png
  content.fa/images/06-datachan-proto-stack.png
  content.fa/images/06-frame-types.png
  content.fa/images/06-remb.png
  content.fa/images/06-rtt.png
  content.fa/images/06-twcc-idea.png
  content.fa/images/06-twcc.png
  content.fa/images/07-connection-establishment.png
  content.fa/images/08-full-mesh.png
  content.fa/images/08-hybrid-mesh.png
  content.fa/images/08-mcu.png
  content.fa/images/08-one-to-one.png
  content.fa/images/08-sfu.png
  content.fa/images/09-diy-latency-happen-observe.png
  content.fa/images/09-diy-latency.png
  content.fa/images/09-ntp-latency.png
  content.fa/images/cover.jpg
  content.fa/images/epub-cover clean notitle.png
  content.fa/images/epub-cover clean.png
  content.fa/images/epub-cover notitle.png
  content.fa/images/epub-cover.png
  content.fa/images/logo.png
Labels: enhancement

#235 Bump Ubuntu and pandoc versions
  .github/workflows/gh-pages.yml
Labels: enhancement

#237 Fix typo about `Allocation Transport` in 03-connecting TURN Lifecycle
  content/docs/03-connecting.md
Labels: content suggestion

#239 Translate #237 clarification to Swedish
  content.sv/docs/03-connecting.md
Labels: content suggestion, translation
